<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Convertidor Word a PDF</title>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  <div class="container">
    <h1><i class="fas fa-file-word" style="margin-right: 10px;"></i>Convertidor Word a PDF</h1>
    
    <form action="/convertir" method="post" enctype="multipart/form-data">
      <div class="upload-area" id="uploadArea">
        <div class="icon-container" >
          <div class="file-icon"><i class="fas fa-file-upload"></i></div>
        </div>
        <div class="upload-text">Arrastra tu archivo o haz clic aquí</div>
        <div class="upload-hint">Formatos aceptados: .docx</div>
        <input type="file" class="file-input" name="archivo" id="fileInput" accept=".docx" required />
      </div>
      
      <div class="file-name" id="fileName"></div>
      
      <button type="submit" class="button">
        <i class="fas fa-file-pdf" style="margin-right: 8px;"></i>Convertir a PDF
      </button>
    </form>
  </div>
  <div id="loader" class="loader-overlay">
    <div class="loader-box">
      <i class="fas fa-spinner fa-spin"></i>
      <p>Convirtiendo tu archivo...</p>
    </div>
  </div>

<script src="/js/index.js"></script>
</body>
</html>